<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="Brisbane's only social chess club" />
    <link rel="stylesheet" href="{{ '/assets/style.css' | url  }}">
    <link rel="icon" href="{{ '/assets/favicon.png' | url  }}">
    <link rel="apple-touch-icon" href="{{ '/assets/apple-touch-icon.png' | url  }}" />
	<meta name="generator" content="{{ eleventy.generator }}" />
  </head>
  <body>
    <div class="background-overlay">
      <main class="content-wrapper">
        <!-- Logo -->
        <div class="logo">
          <a href="{{ '/' | url  }}">
            <img src="{{ '/assets/logo.jpg' | url  }}" alt="Brisbane Social Chess Logo" />
          </a>
          <h1>Brisbane Social Chess</h1>
          <p>A place for casual chess, for fun and friendly people.</p>
        </div>

        <!-- Top Navigation -->
        <nav class="nav-links">
          <a href="{{ '/' | url  }}" class="{% if page.url == '/' %}active{% endif %}">Home</a>
          <a href="{{ '/about.html' | url  }}" class="{% if page.url == '/about.html' %}active{% endif %}">About</a>
          <a href="{{ '/games.html' | url  }}" class="{% if page.url == '/games.html' %}active{% endif %}">Games</a>
          <a href="{{ '/meetup.html' | url  }}" class="{% if page.url == '/meetup.html' %}active{% endif %}">Meetups</a>
          <a href="{{ '/minutes.html' | url  }}" class="{% if page.url == '/minutes.html' %}active{% endif %}">Minutes</a>
          <a href="{{ '/register.html' | url  }}" class="{% if page.url == '/register.html' %}active{% endif %}">Register</a>
          <a href="{{ '/rules.html' | url  }}" class="{% if page.url == '/rules.html' %}active{% endif %}">Rules</a>
          <a href="{{ '/terms.html' | url  }}" class="{% if page.url == '/terms.html' %}active{% endif %}">Terms</a>
          <a href="{{ '/contact.html' | url  }}" class="{% if page.url == '/contact.html' %}active{% endif %}">Contact</a>
        </nav>

        <!-- Content -->
        {{ content | safe }}
      </main>
    </div>

    <!-- Footer -->
    <footer class="site-footer">
      <p>&copy; <span id="year"></span> Brisbane Social Chess. All rights reserved.</p>
    </footer>
    <script type="text/javascript" src="{{ '/assets/script.js' | url  }}"></script>
  </body>
</html>
